.taskConainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.taskItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  max-width: 100%;
  height: 100%;
  padding: 0rem 0.5rem 0rem 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.titleText {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 85%;
}

.taskItem strong {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.3rem;
}

.btnContainer button,
.dropdownMenu button {
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 550;
  width: 70px;
}

.btnChange:hover {
  scale: 1.1;
}

.btnDel:hover {
  scale: 1.1;
  background-color: rgb(255, 0, 0);
}

.btnPut:hover {
  scale: 1.1;
  background-color: #007bff;
}

.btnSuccess:hover {
  scale: 1.1;
}

.btnLink {
  color: rgb(0, 0, 255);
  background-color: transparent;
  border: none;
  cursor: default;
  outline: none;
  transition: all 0s ease-in-out;
  font-size: 0.7rem;
}

.btnLink:hover,
.btnLink:focus,
.btnLink::selection {
  background-color: transparent;
  color: inherit;
  outline: none;
}

.btnDel {
  background-color: rgba(255, 71, 71, 0.959);
  color: white;
}

.btnPut {
  background-color: #0259b6;
  color: white;
}

.idItem {
  background-color: #eee;
  border: 0.1rem solid #ccc;
  color: #0259b6;
  padding: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  font-size: small;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.StatusContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  text-align: center;
  width: 100%;
}

.TitleContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 1rem;
}

.StatusOkText {
  color: rgb(19, 182, 19);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  background-color: #baffc9;
  box-shadow: 0 1px 2px rgba(19, 182, 19, 0.562);
  padding: 0.1rem 0.4rem;
  border-radius: 0.5rem;
  font-size: small;
  width: 100px;
}

.NameStatus {
  font-weight: 500;
  font-size: 0.7rem;
}

.StatusXText {
  color: rgb(182, 19, 19);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  background-color: #f3c1c1;
  padding: 0.1rem 0.4rem;
  border-radius: 0.5rem;
  font-size: small;
  width: 100px;
  box-shadow: 0 1px 2px rgba(255, 0, 0, 0.562);
}

.icon {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 1000;
  right: 0;
  margin-top: 9rem;
  margin-right: 2rem;
  transform: translateY(0%);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.253);
}

.dropdownButton {
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.statusText {
  display: block;
}

@media screen and (max-width: 330px) {
  .btnContainer button {
    font-weight: 500;
    font-size: small;
    width: 60px;
  }
}

@media screen and (max-width: 320px) {
  .btnContainer {
    display: none;
  }

  .dropdownButton {
    display: block;
  }

  .NameStatus {
    display: none;
  }
}

@media screen and (max-width: 160px) {
  .statusText {
    display: none;
  }
}
