.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem;
}

.logo {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.textDecoration {
  text-decoration: none;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background-color: #333;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.btn {
  width: 150px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgb(41, 41, 41);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.btn:hover {
  background: rgb(0, 0, 0);
}

@media screen and (max-width: 320px) {
  .navLinks {
    display: none;
  }

  .logo {
    font-size: 1rem;
  }

  .burger {
    display: flex;
  }

  .navLinks.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 0;
    width: 60%;
    background-color: #333;
    padding: 0.3rem;
    text-align: center;
  }
}
