.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem;
}

.logo {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.navLinks {
  display: flex;
  gap: 1rem;
}

.links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navLinks a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
}

.navLinks a:hover {
  background-color: #555;
  border-radius: 1rem;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background-color: #333;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .navLinks {
    display: none;
    border-radius: 0 0 0 1rem;
    gap: 0;
  }

  .logo {
    font-size: 1rem;
  }

  .burger {
    display: flex;
  }

  .navLinks.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 0;
    width: 60%;
    background-color: #333;
    text-align: center;
  }
}
