.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0000003a;
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
  color: rgb(0, 7, 102);
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
}

.textDecoration {
  text-decoration: none;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background-color: #333;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.btn {
  width: 145px;
  height: 35px;
  color: #fff;
  border-radius: 1rem;
  padding: 0 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(45deg, rgb(0, 17, 255) 0%, rgb(62, 78, 255) 100%);
  box-shadow: rgba(0, 0, 252, 0.377) 0px 7px 29px 0px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-right: 0.5rem;
}

.textButton {
  margin-left: 5px;
}

.btn:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 3, 255, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}

@media screen and (max-width: 300px) {
  .navLinks {
    display: none;
  }

  .logo {
    font-size: 1rem;
  }

  .burger {
    display: flex;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navLinks.active {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 47px;
    right: 0;
    width: 160px;
    background-color: #3333337c;
    padding: 0.3rem;
    text-align: center;
    border-radius: 0 0 0 0.5rem;
  }
}
