.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 2rem auto;
  background-color: #0059ff2c;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: large;
  margin-bottom: 0.5rem;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 100%;
}

.label {
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.inputText {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  resize: none;
}

.inputText:focus {
  border-color: rgb(0, 0, 138);
  outline: none;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox {
  width: auto;
  transform: scale(1.5);
  margin-left: 1.5rem;
}

.btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 1rem;
  padding: 10px 25px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 252, 0.377) 0px 7px 29px 0px;
  outline: none;
  background: rgb(6, 14, 131);
  background: linear-gradient(
    0deg,
    rgba(6, 14, 131, 1) 0%,
    rgba(12, 25, 180, 1) 100%
  );
  border: none;
  align-self: center;
  margin-top: 0.5rem;
}

.btn:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 3, 255, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}

@media screen and (max-width: 450px) {
  .form {
    padding: 20px;
  }
}
